@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box; 
}

body{
    padding: 0;
    margin: 0;
    background-color: #2F303A;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color:white;
    min-height: 100vh;
}



.full-height-grow {
    display: flex;
    flex-direction: column;
}


/* display flex, faz os elementos irem da esquerda pra direita como escrita*/
.brand-logo {
    display:flex;
    align-items: center;
    font-size:1.25em;
    color:inherit;
    text-decoration:none;
}

.brand-logo-name {
    margin-left:1rem;
}

.main-nav ul{
    display:flex;
    margin:0;
    padding:0;
    list-style:none;
}

.main-nav a {
    color:inherit;
    text-decoration: none;
    padding:1rem;
}

.main-nav a:hover {
    color: rgb(165, 162, 162);
}

/*    justify-content: space-between; cria grande espaço entre elementos, nesse caso entre <a> e <nav>
    align-items:center; posição dos elementos na vertical

    The justify-content property aligns the flexible container's items when the items do not use all available space on the main-axis (horizontally).
   */
.main-header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 140px;
}

/* essa container class aplicada no fullbody faz ele ter um tamanho maximo
o padding serve para quando estiver abaixo dos 1200px os items não baterem na borda da tela*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.tittle {
    font-weight:500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight:500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: white;
    background-color:rgb(59, 59, 241);
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size:20px;
}